.background {
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-image: url(../img/pie-bg.jpg);
  background-position: center;
  overflow: hidden;

  .background-overlay {
    background-repeat: no-repeat;
    background: rgba(111, 71, 255, 0.41);
    overflow: hidden;
    height: 100vh;
    z-index: 2;

    .card-bg {
      width: 60vw;
      margin: 93px auto;
      display: flex;
      flex-direction: row;
      background-color: #fff;
      border-radius: 10px;
      padding: 20px;

      .card-bg-texts {
        flex-direction: column;

        h2 {
          font-size: 24px;
        }

        p {
          text-align: justify;
          font-size: 20px;
          margin-right: 20px;
        }
      }

      img {
        width: 120px;
        height: 180px;
        padding-left: 10px;
      }
    }
  }
}
